db/apps/praktikum/schemas/CalendarXEvents.xsd

<!-- 6 May 2015 --><!-- Sub-schema for collections of events, extracted from Conceptual Model Calendar Data Vs 1.7 --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified"><xs:element name="events" type="Events"/><xs:complexType name="Events"><xs:sequence minOccurs="1" maxOccurs="unbounded"><xs:element name="event" type="Event"/></xs:sequence></xs:complexType><xs:complexType name="Event"><xs:all><xs:element name="location" type="Location" minOccurs="0" maxOccurs="1"/><xs:element name="attendees"><xs:complexType><xs:sequence><xs:element name="attendee" type="Contact" minOccurs="0" maxOccurs="unbounded"/></xs:sequence></xs:complexType></xs:element></xs:all><xs:attribute name="description" type="xs:string" use="required"/><xs:attribute name="categories" type="Categories" use="required"/><xs:attribute name="date" type="xs:date" use="required"/><xs:attribute name="startTime" type="xs:time" use="required"/><xs:attribute name="endTime" type="xs:time" use="required"/><xs:attribute name="note" type="xs:string" use="required"/></xs:complexType><xs:complexType name="Location"><xs:attribute name="description" type="xs:string" use="required"/></xs:complexType><xs:complexType name="Contact"><xs:attribute name="description" type="xs:string" use="required"/></xs:complexType><xs:simpleType name="Categories"><xs:list itemType="Category"/></xs:simpleType><xs:simpleType name="Category"><xs:restriction base="xs:string"><xs:enumeration value="work"/><xs:enumeration value="music"/></xs:restriction></xs:simpleType></xs:schema>